<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuffettCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BuffettCode.Properties.Settings>
            <setting name="CSVTicker" serializeAs="String">
                <value>6501</value>
            </setting>
            <setting name="CSVFrom" serializeAs="String">
                <value>2016Q1</value>
            </setting>
            <setting name="CSVTo" serializeAs="String">
                <value>2018Q4</value>
            </setting>
            <setting name="CSVIsFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CSVUTF8" serializeAs="String">
                <value>True</value>
            </setting>
        </BuffettCode.Properties.Settings>
    </userSettings>
</configuration>