<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
    <Fragment>
        <ComponentGroup Id="ExcelFunctions">
            <!-- 
            Components always have unique GUIDs so that Windows can track every file installed. This information is stored in the registry.
            Components should only contain a single file. KeyPath files will be replaced if missing by the repair button on the installer.
            Try using for source: $(var.PROJECTREF.TargetDir)$(var.PROJECTREF.TargetName)-AddIn64-packed.xll
            
            ref: https://github.com/Excel-DNA/WiXInstaller/blob/master/Source/ExcelAddInDeploy/Product.wxs -->
            <!-- Install UDF for 64 bit -->
            <Component Id="BC_UDF_XLL64" Guid="17F10CB0-03A8-4F9E-A681-62A67E5BE2B7" Directory="AddinFolder" Win64="yes">
                <RegistryValue Root="HKLM" Key="Software\!(loc.ProductManufacturer)\Excel Add-In" Name="Xll64Bit" Value="AddIns" KeyPath="yes" Type="string" />
                <File Id="EXCELXLL64PACKED.XLL" Name="!(loc.ProductNameNoSpace)64.xll" Source="$(var.BuffettCodeExcelFunctions.TargetDir)BuffettCodeExcelFunctions-AddIn-packed.xll" >
                <netfx:NativeImage Id="ngen_64Xll" Platform="64bit" Priority="0"/>
                </File>
                <RemoveFile On="uninstall" Id="REMOVE_BC_UDF_XLL64" Directory="AddinFolder" Name="!(loc.ProductNameNoSpace)64.xll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>