<?xml version="1.0" encoding="utf-8"?>
<?define ProductVersion = "1.1.0"?>
<?define ProductUpgradeCode = "E4CF053E-BB35-4A48-8EF7-D124F7A52C1A"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*"
             Name="!(loc.ProductName)"
             Language="!(loc.LANG)"
             Version="$(var.ProductVersion)"
             Manufacturer="!(loc.ProductManufacturer)"
             UpgradeCode="$(var.ProductUpgradeCode)">

        <Package InstallerVersion="200"
                 Compressed="yes"
                 Platform="x64"
                 InstallPrivileges="elevated"
                 InstallScope="perMachine"
                 Manufacturer="!(loc.ProductManufacturer)"
                 Description="!(loc.ProductDescription)"
                 Comments="!(loc.ProductCopyright)"/>

        <Upgrade Id="$(var.ProductUpgradeCode)">
            <UpgradeVersion Minimum="1.0.0"
                      IncludeMinimum="yes"
                      OnlyDetect="no"
                      Maximum="$(var.ProductVersion)"
                      IncludeMaximum="no"
                      Property="PREVIOUSFOUND" />
        </Upgrade>

        <MediaTemplate EmbedCab="yes" />
        <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />

        <WixVariable Id="WixUIBannerBmp" Value="Resources\Banner.jpg" />
        <WixVariable Id="WixUIDialogBmp" Value="Resources\Dialog.jpg" />
        <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />

        <!-- ICONS -->
        <Icon Id="ProductIcon" SourceFile="Resources\Icon.ico" />
        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />

        <!-- Windows Installer set TARGETDIR to the local hard drive with the most free space.  The top-level Directory must be Id="TARGETDIR" Name="SourceDir" -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="COMPANYDIR" Name="!(loc.ProductManufacturer)">
                    <Directory Id="AddinFolder" Name="!(loc.ProductNameNoSpace)" >
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <!-- There must be a feature in the project and all components must be installed into the feature to be installed. -->
        <Feature Id="BuffettCodeExcelAddIn" Title="!(loc.ProductName)" Description="!(loc.ProductDescription)" Level="1" AllowAdvertise="no" >
            <!--ComponentGroupRef Id="SetupRegistry" /-->
            <!--ComponentGroupRef Id="CleanupRegistry" /-->
            <!--ComponentGroupRef Id="HeatGeneratedAddinRibbon" /-->
            <ComponentGroupRef Id="ExcelFunctions" />
        </Feature>

        <UI Id="UI">
            <!--See http://wix.sourceforge.net/manual-wix3/WixUI_index.htm for more information
       The following line adds the minimal WiX Dialog set to the install-->
            <UIRef Id="WixUI_Minimal"/>
            <!-- This TextStyle is used in the CustonMessages.wxl file -->
            <TextStyle Id="Black10" FaceName="Tahoma" Size="10" Red="0" Green="0" Blue="0" Bold="yes" />
        </UI>
        <!--IMPORTANT ALL MS OFFICE SUPPORTED VERSIONS ARE HERE: Office 2003, 2007, 2010, 2013, 2016 Keep it uptodate-->
        <!-- these numbers will be parsed individually in the custom actions with InvariantCulture and NumberStyles.Any -->
        <Property Id="OFFICEREGKEYS" Value="11.0,12.0,14.0,15.0,16.0" />
        <Property Id="BC_RIBBON_VSTO" Value="!(loc.ProductNameNoSpace).vsto" />
        <Property Id="BC_UDF_XLL64" Value="!(loc.ProductNameNoSpace)64.xll" />

        <!-- The property below will disable the repair button. -->
        <!--<Property Id="ARPNOREPAIR" Value="yes" />-->
        <Property Id="PromptToCloseProcesses" Value="EXCEL" />
        <Property Id="PromptToCloseDisplayNames" Value="Microsoft Excel" />

        <!--
    To handle registering the XLL, a custom action project must be created and a project reference must be created. 
    This project will create a DLL that WiX can understand.
    The binary refers to the dll created by the custom action project.
    If values are to be passed to the custom action project, the set property actions must precede the action specifying the DLL entry point.
    The InstallExecuteSequence specifies the sequence to run the actions and the AdminExecuteSequence provide rights to non-admin users (to the registry).
    For more information on custom actions, read
    http://www.codeproject.com/Articles/132918/Creating-Custom-Action-for-WIX-Written-in-Managed?fid=1599130&df=90&mpp=25&noise=3&prof=False&sort=Position&view=Quick&spc=Relaxed&select=4131367&fr=1#xx0xx
    -->
<!--
        <Binary Id="InstallerCaCaDll" SourceFile="$(var.InstallerCA.TargetDir)$(var.InstallerCA.TargetName).CA.dll" />
        <CustomAction Id="Action_RegisterAddIn.SetProperty" Return="check" Property="Action_RegisterAddIn" Value="OFFICEREGKEYS=[OFFICEREGKEYS];XLL64=[XLL64]" />
        <CustomAction Id="Action_RegisterAddIn" BinaryKey="InstallerCaCaDll" DllEntry="CaRegisterAddIn" Return="check" Execute="immediate">
        </CustomAction>
        <CustomAction Id="Action_UnRegisterAddIn.SetProperty" Return="check" Property="Action_UnRegisterAddIn" Value="OFFICEREGKEYS=[OFFICEREGKEYS];XLL64=[XLL64]" />
        <CustomAction Id="Action_UnRegisterAddIn" BinaryKey="InstallerCaCaDll" DllEntry="CaUnRegisterAddIn" Return="check" Execute="immediate" />
        <CustomAction Id="Action_CloseAppsPrompt" BinaryKey="InstallerCaCaDll" DllEntry="ClosePrompt" Return="check" />
        <InstallExecuteSequence>
            <Custom Action="Action_CloseAppsPrompt" After="Action_RegisterAddIn.SetProperty" />
            <Custom Action="Action_RegisterAddIn.SetProperty" Before="Action_RegisterAddIn">NOT Installed</Custom>
            <Custom Action="Action_RegisterAddIn" Before="InstallFinalize">NOT Installed</Custom>
            <Custom Action="Action_UnRegisterAddIn.SetProperty" Before="Action_UnRegisterAddIn">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
            <Custom Action="Action_UnRegisterAddIn" Before="InstallFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
        </InstallExecuteSequence>
        <AdminExecuteSequence>
            <Custom Action="Action_CloseAppsPrompt" After="Action_RegisterAddIn.SetProperty" />
            <Custom Action="Action_RegisterAddIn.SetProperty" Before="InstallFinalize">NOT Installed</Custom>
            <Custom Action="Action_RegisterAddIn" After="Action_RegisterAddIn.SetProperty">NOT Installed</Custom>
            <Custom Action="Action_UnRegisterAddIn.SetProperty" Before="InstallFinalize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
            <Custom Action="Action_UnRegisterAddIn" After="Action_UnRegisterAddIn.SetProperty">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
        </AdminExecuteSequence>
-->

    </Product>
</Wix>
